body {
    margin: 0;
    background: #dedede;
    /* display: flex; */
    /* align-items: flex-end; */
    /* height: 100vh; */
  }

  .header{
    width: 100%;
    margin: auto;
    margin-bottom: -100px;
    position: fixed;
    top: 0;
    /* text-align: center; */
    padding-top: 10px;
    align-items: center;
  }

  .simon {
    margin: 1px;
    font-size: 3em;
    font-style:normal;;
    font-weight:800;
    justify-content: end; 
    /* text-align: left; */
    padding-left: 20px  
  }

  
 
  
  #rules {
    padding: 10px;
    text-align: end;
    margin-right: 30px;
  }
  

.container {
  justify-content: center;
  display: flex;
  padding: 50px;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
  margin-top: 50px;
}

.info {
  /* justify-content: center; */
  height: 100px;
}
 
h1 {
  font-family: 'Shadows Into Light';
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  background: #be2edd;
}

.violeta.light {
background: #e056fd;
}

.naranja {
background: #f0932b;
}

.naranja.light {
background: #ffbe76;
}

.verde {
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}

.hide {
  display: none;
}

.btn-start {
  cursor: pointer;
  width: 100px;
  height: 100px;
  background: #939c9e;
  color: #ffffff;
  border: none;
  border-bottom: 4px solid #c4c6c7;
  border-radius: 500px;
  font-size: 2em;
  font-family: 'Shadows Into Light', cursive;
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 50px);
  transition: .5s;
  outline: none;
}

.btn-start:hover {
  color: #ecf0f1;
  background: #2c3e50;
  border-bottom: 4px solid #1f3346;
}

.btn-start:active {
  transform: scale(.95);
}

.hide {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  visibility: hidden;
}

.nivel > h2 {
  font-family: 'Shadows Into Light';
  padding-left: 20px;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }
  to {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    display: block;
  }
  to {
    display: none;
    opacity: 0;
  }
}

